<nav class="navbar navbar-expand-lg bg-white header-container">
	<div class="container">
		<a class="navbar-brand" routerLink="/">
			<img src="assets/img/logo.webp" class="pointer header-container__logo" alt="logo" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item" *ngFor="let route of routes">
					<a class="nav-link" [routerLink]="route.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ route.name }}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
