<footer class="footer-container">
	<div class="container">
		<div class="d-flex flex-column flex-sm-row justify-content-between py-2 border-top">
			<p class="d-flex align-items-center mb-0 mx-auto mx-sm-0">&copy; {{ year }}. Todos los derechos reservados</p>
			<ul class="list-unstyled d-flex mb-0 mx-auto mx-sm-0">
				<li>
					<a href="https://github.com/biersack0?tab=repositories" target="_blank">
						<ng-lottie [options]="github" containerClass="linkedin-logo"></ng-lottie>
					</a>
				</li>

				<li>
					<a href="https://www.linkedin.com/in/alex-huaman-yana-059391261/" target="_blank">
						<ng-lottie [options]="linkedin" containerClass="github-logo"></ng-lottie>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
