@import '../../../assets/scss/variables';

.home-container{
    min-height: calc(100vh - 132px);
    background-color: $light;

    & .form-group{
        margin-bottom: 0.4rem;
    }

    & .img-user{
        width: auto;
        height: 50px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    & .img-user-preview{
        width: 250px;
        height: auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    & th{
        text-align: center;
    }
    & td{
        text-align: center;
        vertical-align: middle;
    }
}

.btn-calendar{
    right: 1px;
    top: -30px;
    height: 28px;
    width: 30px;
    position: absolute;
    background: rgb(248, 249, 250);
    box-shadow: none;
    border-color: transparent;
    z-index: 1000!important;
}